
.inputs{
    color: blue;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 44px;
    background-color: yellow;
    border-radius: 2px;
   
}

.block{
    display: block;
}

.bb{
    padding-block: 22px;
}

#txt{
    width: 298px;
    height: 62px;
    text-align: end;
    font-size: 30px;
    display: block;
    background-color: lightgreen;
}

.equal{
    padding-top: 17px;
    padding-bottom: 11px;
    background-color: lawngreen;
    padding-left: 46px;
    border-radius: 2px;
}

.operators{
    padding-top: 17px;
    padding-bottom: 11px;
    background-color: orange;
    padding-left: 46px;
}
.back{
    padding-right: 42px;
    background-color: red;
    padding-bottom: 11px;
    padding-top: 17px;
    border-radius: 2px;
}


#calculator{
    width: 349px;
    background-color: green;
    padding: 2%;
    height: 331px;
    border: mediumseagreen;
    border-style: dotted;
    border-width: 12px;
}